{% block choice_widget_expanded -%}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for group_label, choice in choices %}
                {% if choice is iterable %}
                    <h3>{{ group_label }}</h3>
                    {% for key in choice|keys %}
                        <div class="checkbox">
                            {{ checkbox_row(form.children[key], {'no_form_group': true, 'inline': true, 'label_attr': label_attr }) }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="checkbox">
                        {{ checkbox_row(form.children[group_label], {'no_form_group': true, 'inline': true, 'label_attr': label_attr }) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}