{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron" style="margin-top: 40px">
        <h1>Erreur 404</h1>
        <p>Les petits asiatiques qui s'occupent de ranger les pages du site n'ont pas trouvé celle-ci...</p>
        <p class="hidden-xs">
            <a class="btn btn-primary btn-lg" href="{{ path('ferus_index') }}">Donner du riz</a>
            <a class="btn btn-default btn-lg" href="{{ path('ferus_index') }}">En tuer un pour l'exemple</a>
        </p>
        <p class="visible-xs-block">
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('ferus_index') }}">Donner du riz</a>
            <a class="btn btn-default btn-lg btn-block" href="{{ path('ferus_index') }}">En tuer un pour l'exemple</a>
        </p>
    </div>
{% endblock %}
