{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron" style="margin-top: 40px">
        <h1>Une erreur est survenue</h1>
        <p>Le singue qui fait fonctionner les serveurs a fait une erreur...</p>
        <p class="hidden-xs">
            <a class="btn btn-primary btn-lg" href="{{ path('ferus_index') }}">Donner une bannane</a>
            <a class="btn btn-default btn-lg" href="{{ path('ferus_index') }}">Abattre l'animal</a>
        </p>
        <p class="visible-xs-block">
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('ferus_index') }}">Donner une bannane</a>
            <a class="btn btn-default btn-lg btn-block" href="{{ path('ferus_index') }}">Abattre l'animal</a>
        </p>
    </div>
{% endblock %}