/web/bundles/
/web/bootstrap/
/web/js/jquery*
/web/fonts/glyphicons*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/web/api/students/photo/by-id/*
!web/api/students/photo/by-id/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
/node_modules/
*~