{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Découvrez FairPay</h1>

    <div class="row text-justify">
        <div class="col-md-6">
            <h2>Pour les étudiants</h2>
            <p>Placez de l'argent en sécurité <b>sur votre carte étudiante</b>. Cet argent est séparé de votre compte de cantine pour ne pas vous mélanger ! Vous pouvez récupérer votre argent à tout moment au BDE.</p>
            <p>Payez simplement et <b>en toute sécurité</b> grâce à votre carte dans les clubs et au BDE. Snacks, places de soirée, repas... tout y est !</p>
            <p>Rechargez votre carte au BDE ou dans n'importe quel club.</p>
            <p>Retrouvez une <b>interface web simple</b> qui vous permet de suivre vos dépenses et de faire des virements entre étudiants.</p>
        </div>
        <div class="col-md-6">
            <h2>Pour les clubs</h2>
            <p>Offrez à vos membres une <b>méthode éfficace de paiement</b>, il suffit d'avoir sa carte ! Fini les kilos de pièces dans l'amoire.</p>
            <p>Votre argent est en sécurité dans le <b>coffre fort du BDE</b> pour limiter les vols et les fraudes. Vous pouvez faire un retrait en cash à tout moment au BDE.</p>
            <p>Offrez à vos membres la possibilité de recharger leur carte chez vous. Vous récupérez ainsi des espèces <b>sans passer par le BDE</b>.</p>
            <p>Intégrez de manière <b>totalement transparente</b> FairPay à votre site ou à votre application grâce à notre <a href="api/doc">API</a> et notre <a href="https://github.com/nick-keller/fairpay-php-sdk">SDK PHP</a>.</p>
            <p>Retrouvez une <b>interface web simple</b> pour avoir le détail de chaque transaction et pour effectuer des virements.</p>
        </div>
    </div>
{% endblock %}