{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Autres opérations</h1>
    <div class="row">
        <div class="col-md-6 text-justify">
            <h2>Déposer de l'argent sur son compte</h2>
            <p>
                Vous pouvez à tout moment déposer de l'argent sur votre compte FairPay.
                Rendez vous au BDE ou dans votre club de coeur (sous réserve de sa participation à FairPay) afin de déposer de l'argent en cash. Une fois la transaction effectué, l'argent est directement disponible sur votre compte FairPay.
                Aucune transaction ne pourra être effectuée pour un tiers, chaque dépot, paiement ou retrait doit être personnel.
            </p>
            <p>
                Si vous <b>déposez votre argent au BDE</b>, vous verrez apparaitre sur votre relevé de compte un dépot du montant que vous avez donné.
                Le nom de la perssone qui a effectué l'opération apparaît dans le champ <i>mandataire</i>.
                Si la somme que vous avez reçue ne correspond pas à ce que vous avez donné, vous devrez le signaler à cette personne.
                Vous êtes invités à consulter votre compte après chaque évènement sur votre compte.
            </p>
            <p>
                Si vous <b>déposez votre argent chez un marchand</b> (club, CI...), vous verrez apparaitre sur votre relevé de compte une transaction du montant que vous avez donné provenant du compte du marchand.
                Le champ mandataire est vide car ce n'est pas une personne mais le marchand qui est à l'origine de cette transaction (via l'API).
                Par conséquant, si vous tentez de déposer une grosse somme d'argent mais que le marchand n'a pas les fond sufisants sur son propre compte pour mettre sur votre compte personnel la somme que vous allez lui donner en cash, l'opération échouera (un solde négatif étant interdit).
                Pour ces raisons, nous vous conseillons de venir déposer les "grosses" sommes d'argent (>20€) directement au BDE.
            </p>
        </div>
        <div class="col-md-6 text-justify">
            <h2>Retirer de l'argent depuis son compte</h2>
            <p>
                L'argent présent sur votre compte n'est pas figé, vous pouvez à tout moment décider de récupérer une partie ou l'intégralité de cet argent en cash ou en chèque.
                Rendez-vous au BDE quand une personne acrédité (trésorier ou président) est présente.
            </p>
            <p>
                Vous verrez apparaitre sur votre relevé de compte un retrait du montant que vous avez demandé.
                Le nom de la perssone qui a effectué l'opération apparait dans le champ <i>mandataire</i>.
                Si la somme que vous avez reçue ne correspond pas à ce qui est inscrit sur votre relevé, vous devrez le signaler à cette personne.
            </p>
        </div>
    </div>
{% endblock %}
