{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Autres opérations</h1>
    <div class="row">
        <div class="col-md-6 text-justify">
            <h2>Déposer de l'argent sur son compte</h2>
            <p>
                Vous pouvez à tout moment déposer de l'argent sur votre compte FairPay.
                Rendez-vous au BDE ou chez votre marchand favoris pour déposer de l'argent en cash, cette opération est instantanée.
            </p>
            <p>
                Si vous <b>déposez votre argent au BDE</b> vous verrez apparaitre sur votre relevé de compte un dépot du montant que vous avez donné.
                Le nom de la perssone qui a effectué l'opération apparait dans le champ <i>mandataire</i>.
                Si la somme que vous avez reçus ne correspond pas à ce que vous avez donné, vous devrez le signaler à cette personne.
            </p>
            <p>
                Si vous <b>déposez votre argent chez un marchand</b> vous verrez apparaitre sur votre relevé de compte une transaction du montant que vous avez donné provenant du compte du marchand.
                Le champ mandataire est vide car ce n'est pas une personne mais le marchand qui est à l'origine de cette transaction (via l'API).
                Par conséquant, si vous tentez de déposer une grosse somme d'argent mais que le marchand n'as pas les fond sufisants pour effectuer la transaction depuis son compte l'opération échouera.
                C'est pourquoi nous conseillons de venir déposer les grosses sommes d'argents directement au BDE.
            </p>
        </div>
        <div class="col-md-6 text-justify">
            <h2>Retirer de l'argent depuis son compte</h2>
            <p>
                L'argent présent sur votre compte n'est pas figé, vous pouvez à tout moment décider de récupérer une partie ou l'intégralité de cet argent en cash ou en chèque.
                Rendez-vous au BDE quand une personne acrédité (trésorier ou président) est présente.
            </p>
            <p>
                Vous vérez apparaitre sur votre relevé de compte un retrait du montant que vous avez demandé.
                Le nom de la perssone qui a effectué l'opération apparait dans le champ <i>mandataire</i>.
                Si la somme que vous avez reçus ne correspond pas à ce qui est inscrit sur votre relevé, vous devrez le signaler à cette personne.
            </p>
        </div>
    </div>
{% endblock %}