<div class="panel panel-default store">
    <div class="panel-heading">
        {{ store }}
        <button class="btn btn-danger btn-xs pull-right" data-remove="{{ path('seller_remove_store', {id:store.id}) }}">
            {{ icon('remove') }} Supprimer
        </button>
    </div>
    <div class="list-group">
        <div class="list-group-item" data-toggle="collapse" data-target="#product-1">
            Canette
            <div id="product-1" class="collapse">
                hello
            </div>
        </div>
        <a class="list-group-item">
            {{ icon('plus') }} Ajouter un article
        </a>
    </div>
</div>