{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
    <div class="form-signin">
        <h2>Mot de passe oublié</h2>
        <p>
            {{ 'resetting.password_already_requested'|trans }}
        </p>
        <a href="{{ path('ferus_index') }}">Retour au site</a>
    </div>
{% endblock body %}
