Bonjour {{ student.firstName }} !<br /><br />

Voici le mail que tu attendais tant ! Pour t'inscrire à l'événement <b>{{ event }}</b>, voici ton lien personnalisé.
Les places étant nominatives, inutile de t'inscrire si tu ne comptes pas venir.<br /><br />

<a href="{{ url('fcfs_register', {token: token}) }}">>>>> lien de la mort qui tue <<<<</a><br /><br />

A bientôt !<br />
L'équipe du BDE. #Ferus