{% extends "::admin.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Changer de mot de passe</li>
{% endblock %}

{% block content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock content %}
