{% trans_default_domain 'FOSUserBundle' %}

<h2>Changer de mot de passe</h2>

<form class="form-horizontal" role="form" action="" method="post">
    {{ form_row(form.current_password, {style: 'horizontal'}) }}
    {{ form_row(form.plainPassword.first, {style: 'horizontal'}) }}
    {{ form_row(form.plainPassword.second, {style: 'horizontal'}) }}
    {{ form_rest(form) }}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
    </div>
</form>
