{% extends '@FerusTransaction/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Dernières transactions</li>
{% endblock %}

{% block content %}
    {% include '@FerusTransaction/Template/list.html.twig' %}
{% endblock %}