{% extends '@FerusTransaction/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Nouvelle transaction</li>
{% endblock %}

{% block content %}
    <h2>Nouvelle transaction</h2>
    {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}