{% extends '@FerusTransaction/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Effectuer un retrait</li>
{% endblock %}

{% block content %}
    <h2>Effectuer un retrait</h2>
    {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}