{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Ajouter</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h2>Manuel</h2>
        </div>
        <div class="col-sm-6">
            <h2>A partir d'un CSV</h2>
        </div>
    </div>
{% endblock %}