{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Gestion des cotisations</li>
{% endblock %}

{% block content %}
    <h2>Filtrer les élèves</h2>
    <input type="text" class="form-control" placeholder="Id, Nom, Prénom" id="filter" data-search="{{ path('student_admin_contributors_search') }}">
    <div id="result" style="margin-top: 10px"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax/search-contributor.js') }}"></script>
{% endblock %}