{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Tous les étudiants</li>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>#
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Login</th>
            <th>Cotisant</th>
        </tr>
    </table>
{% endblock %}