{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Tous les étudiants</li>
{% endblock %}

{% block content %}
    hello
{% endblock %}