{% extends '@FerusAccount/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Tous les comptes</li>
{% endblock %}

{% block content %}
    hello
{% endblock %}